<h4 class="center">Hello <%=name%>! How old are you?

<form method="post" action="/age">
<input type="number" name="age_input" autofocus="autofocus">
<input type='text' name='name_input' value= <%=name%> hidden>
<p><input type="submit" value='click again'></p>
</form></h4>