Wow <%=name%>, only <%=age%>! What are your 3 favorite numbers?

<form method="post" action="/fav_nums">
<input type="number" name="fav_num1_input">
<input type="number" name="fav_num2_input">
<input type="number" name="fav_num3_input">
<input type="text" name="name" value= <%=name%> hidden>
<input type="number" name="age_input" value= <%=age%> hidden>
<input type="submit" value="submit">
</form>