<html>
<body background="http://lorempixel.com/400/400/abstract">
<head>

<link href='css/style.css' rel='stylesheet'>
</head>

<p class="headline_color center bg_color">Personal Details</p>

<div class="center"><a href="/" style="color:red">Restart</a></div><br>

<%=yield%><br>

<footer>
<p id= center class= "bg_color"> Contact us here:
<a href="http://www.minedminds.org" style="color:aquamarine"> Mined Minds Website</a></p>
</footer>
</body>
</html>



