<h4 class="center">Hello, what is your name?

<form method="post" action="/name">
<input type="text" name="name_input" autofocus="autofocus">
<p><input type="submit" value='click here'></p>
</form></h4>